@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900');
body{
  background-color:#133C55;
  color: white;
}

.container {
  background-color: #59A5D8;
  padding: 5px;
}

.home-blurb{
  width: 100%;
  height: 200px;
  background-color: #386FA4;
  padding: 25px;
}
.news-blurb{
  width: 100%;
  height: 200px;
  background-color: #84D2F6;
}
p{
  font-size: 24px;
  text-align: center;
}
footer{
  text-align: center;
}
h1{
  text-shadow: 0 0 5px #000; 
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
  font-size: 65px;
  color:white;
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding: 10px;
}
h2{
  text-shadow: 0 0 4px #000;
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
  font-size: 45px;
  color:white;
  padding: 10px;
  font-family: 'Playfair Display', serif;
  text-align: center;
}


.logo {
    text-decoration: none;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 3px;
}
.logo:hover{
  color: #84D2F6;
}
nav{
  
}

nav > ul {
    float: right;
    margin-right: 40px;
}

nav > ul > li {
    text-align: center;
    line-height: 40px;
    margin-left: 40px;
}

nav > ul li ul li {
    width: 100%;
    text-align: center;
}

nav ul li:hover {
    cursor: pointer;
    position: relative;
}
nav ul li:hover > ul {
    display: block;
}
nav ul li:hover > a {
    color: #84D2F6;
}
nav > ul > li > a {
    cursor: pointer;
    display: block;
    outline: none;
    width: 100%;
    height:50px;
    text-decoration: none;
}

nav > ul > li {
    float: left;
}
nav a {
    font-size: 24px;
    color: white;
}
nav > ul li ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 90%;
    z-index: 2000;
}
nav > ul li ul li > a {
    text-decoration: none;
}

[type="checkbox"], label {
    display: none;
}

@media screen and (max-width: 768px) {
  nav ul {
      display: none;
  }

  label {
      display: block;
      background: #222;
      width: 40px;
      height: 40px;
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 0px;
  }
  
label:after{
  content:'';
  display: block;
  width: 30px;
  height: 5px;
  background: #ffffff;
  margin: 7px 5px;
  box-shadow: 0px 10px 0px #ffffff, 0px 20px 0px #ffffff;
}

  [type="checkbox"]:checked ~ ul {
      display: block;
      z-index: 9999;
      position: absolute;
      right: 20px;
      left: 20px;
  }

  nav a {
      color: #777;
  }

  nav ul li {
      display: block;
      float: none;
      width: 100%;
      text-align: left;
      background: #133C55;
      text-indent: 20px;
  }

  nav > ul > li {
      margin-left: 0px;
  }

nav > ul li ul li {
      display: block;
      float: none;
  }
  
nav > ul li ul {
      display: block;
      position: relative;
      width: 100%;
      z-index: 9999;
      float: none;
}



