@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900');
html {
    overflow: hidden;
    height: 100%;
}

body {
  margin: 0 auto;
  height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  background-color:#386FA4;
  color: white;
}

#home-pics{
  text-align: center;
  width:100%;
  margin: 1px;
  padding:15px;
  background-color: #386FA4;
}

#news-blurb{
  /*text-align: left;*/
  background-color: transparent;
  padding: 15px;
  /*margin: 2px;*/
}
#banner{
  /*background-attachment: fixed;*/
  background-color: #133C55;
 
  width: 100%;
  
  height: auto;
  z-index: 10;
}
.about-blurb{
  font-size: 24px;
  width: 100%;
  height: auto;
  text-align: center;
  margin:3px;
  background-color: #386FA4;
  
}
#peter-about-pic{
  width: 100%;
  height:auto;
  /*float: left;*/
  /*margin:2px;*/
  padding: 15px;
}
.thumbnail{
  background-color: #386FA4;
}
.banner-news{
  font-size: 24px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  padding: 15px;
  /*float: left;*/
}

p{
  font-size: 26px;
  text-align: center;
  font-family: 'Playfair Display', serif;
}
img{
  width: 250px;
  height: 200px;

}

footer{
  width: 100%;
  margin: 20px;
  text-align: left
}
h1{
  text-shadow: 0 0 8px #000; 
  -moz-text-shadow: 0 0 5px #000;
  -webkit-text-shadow: 0 0 5px #000;
  font-size: 65px;
  color:white;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  margin-top: 45px;
}
h2{
  text-shadow: 0 0 6px #000;
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
  font-size: 45px;
  color:white;
  padding: 10px;
  font-family: 'Playfair Display', serif;
  text-align: center;
}
h3 {

  font-size: 40px;
  color:white;
  font-weight: 600;
  font-family: 'Playfair Display', serif;
  text-align: center;
}
.horizontal-collapse {
    height: 70px;
  }
.navbar-collapse.in {
    overflow-y: hidden;
  }

.navbar-brand {
    text-decoration: none;
    color: black;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size:25px;
    
}
.navbar-brand:hover{
  color: white;
}

.navbar{
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  background-color: #386FA4;
  font-weight: 400;
  width: 100%;
  color: black;
}
.icon-bar{
  background-color: black;
}


li>a{
  color: black;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
}
.thumbnail{
  border-color: black;
}
