<h1>About Peter</h1>

<div class="about-blurb container-fluid">

<img id="peter-about-pic" src="https://peterohanlon.files.wordpress.com/2015/05/screen-shot-2015-12-30-at-22-58-47.png?w=602&h=658">
<!-- <img src="https://www.placecage.com/400/400"> -->
<br>
<p>Peter O’Hanlon is a Commentator and Presenter specialised in Live Sports coverage. Peter began his commentary career at national rowing events within the United Kingdom in 2008. Here he quickly excelled in localised  tower and stadium announcing where he discovered a particular enjoyment bringing the colour and spectacle of sporting events to varied and live audiences.

Peter rapidly progressed from national events to the world stage where, as a Sports Presenter and Consultant working with World Rowing (Fédération Internationale des Sociétés d’Aviron), he began internationally televised live coverage of World Championships and large scale international events.

Peter’s live coverage has been broadcast on Sky Sport, Fox Sports, CBC, SportsNet, SporTV, amongst other channels, across the globe.

Now, Peter enjoys covering live sporting events on TV, Radio and in-stadium… always eager to test the limits of event coverage with new and more dynamic strategies of audience involvement.
</p>
</div>



