  
<h1>Peter O'Hanlon</h1>
  <h2>Commentator and Presenter</h2>

  <div id="home-pics" class="row container-fluid">
    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
      <img src=https://peterohanlon.files.wordpress.com/2017/02/img_3662.jpg>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
      <img src=https://peterohanlon.files.wordpress.com/2016/06/img_2999.jpg>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
      <img src=https://peterohanlon.files.wordpress.com/2016/04/img_2686-1.jpg>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
      <img src=https://peterohanlon.files.wordpress.com/2016/06/img_2806.jpg?w=600>
    </div>
  </div>

  
  <div id="news-blurb" class="container">
    <h3>News</h3>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <br> 
      <br>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim adminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <br> 
      <br>
      
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim adminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
  </div>


<footer>Twitter, Facebook and Other social links</footer>

