<div class="container home-pics">
  <h1>Peter O'Hanlon</h1>
  <h2>Commentator and Presenter</h2>
    
</div>

<div id="banner">
  <div id="news-blurb" class="container">
    <span class="banner-news">
      Peter O’Hanlon is a Commentator and Presenter specialised in Live Sports coverage. Peter began his commentary career at national rowing events within the United Kingdom in 2008. Here he quickly excelled in localised  tower and stadium announcing where he discovered a particular enjoyment bringing the colour and spectacle of sporting events to varied and live audiences. Peter rapidly progressed from national events to the world stage where, as a Sports Presenter and Consultant working with World Rowing (Fédération Internationale des Sociétés d’Aviron), he began internationally televised live coverage of World Championships and large scale international events. 
      <br>
      <br>
      Peter’s live coverage has been broadcast on Sky Sport, Fox Sports, CBC, SportsNet, SporTV, amongst other channels, across the globe. Now, Peter enjoys covering live sporting events on TV, Radio and in-stadium… always eager to test the limits of event coverage with new and more dynamic strategies of audience involvement.
      <br>
    </span>
  </div>
</div>
    
<div class=" container home-pics-1">
</div>
  
<div id="banner">
  <div id="news-blurb" class="container">
  <div class="col-lg-6 col-md-6 col-sm-12 embed-responsive embed-responsive-16by9">
    <youtube-video class="embed-responsive-item" video-url="fourthVid"></youtube-video>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 embed-responsive embed-responsive-16by9">
    <youtube-video class="embed-responsive-item" video-url="secondVid"></youtube-video>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 embed-responsive embed-responsive-16by9">
    <youtube-video class="embed-responsive-item" video-url="thirdVid"></youtube-video>
  </div>
    <div class="col-lg-6 col-md-6 col-sm-12 embed-responsive embed-responsive-16by9">
      <youtube-video class="embed-responsive-item" video-url="firstVid" player-width="'300px'" player-height="'300px'"></youtube-video>
    </div>
  </div>
</div>

<!-- <div class="container home-pics-2">
</div> -->

<div id="banner">
  <div id="news-blurb" class="container">
    <span class="banner-news">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </span>
  </div>
</div>

<div class="container-flui">
<footer>Twitter, Facebook and Other social links</footer>
</div>
