<br>
<br>
<br>
<br>
  <div class="row container-fluid">
    <div class="col-lg-6 col-md-6 col-sm-6 col-12 work-blurb">
      <div class="thumbnail">
        <img id="img-1" class="img-thumbnail img-fluid" src=https://peterohanlon.files.wordpress.com/2017/07/plovdiv5-e1500928637639.jpg>
        <div class="caption">
          <h4>JULY 19, 2017 WORLD ROWING, U23 CHAMPIONSHIPS,</h4>
          <h5>PLOVDIV, BULGARIA</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12 work-blurb">
      <div class="thumbnail">
        <img class="img-thumbnail img-fluid" src=https://peterohanlon.files.wordpress.com/2017/07/lucerne2.jpg?w=2000&h=1500&crop=1>
        <div class="caption">
          <h4>JULY 7, 2017 WORLD ROWING CUP 3,</h4>
          <h5>LUCERNE, SWITZERLAND</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12 work-blurb">
      <div class="thumbnail">
        <img class="img-thumbnail img-fluid" src=https://peterohanlon.files.wordpress.com/2017/07/poznan.jpg>
        <div class="caption">
          <h4>JUNE 16 2017, WORLD ROWING CUP 2,</h4>
          <h5>PONAZN, POLAND</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12 work-blurb">
      <div class="thumbnail">
        <img class="img-thumbnail img-fluid" src=https://peterohanlon.files.wordpress.com/2017/07/belgrade.jpg?w=2000&h=1500&crop=1>
        <div class="caption">
          <h4>MAY 5 2017, WORLD ROWING CUP 1,</h4>
          <h5>BElGRADE, SERBIA</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12 work-blurb">
      <div class="thumbnail">
        <img class="img-thumbnail img-fluid" src=https://peterohanlon.files.wordpress.com/2017/02/img_3662.jpg>
        <div class="caption">
          <h4>August 20 2016, WORLD ROWING CHAMPIONSHIPS,</h4>
          <h5>ROTTERDAM, HOLLAND</h5>
          <h6>Peter provided the Live English Commentary and Sports Presentation for the World Rowing audience alongside a local Dutch commentator</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12 work-blurb">
      <div class="thumbnail">
        <img class="img-thumbnail img-fluid" src=https://i1.wp.com/peterohanlon.files.wordpress.com/2016/06/img_2988.jpg?w=684&h=&crop&ssl=1&zoom=2>
        <div class="caption">
          <h4>JUNE 17 2016, WORLD ROWING CUP 3,</h4>
          <h5>PONZAN, POLAND</h5>
          <h6>Peter provided the Live English Tower Commentary and Sports Presentation, for the World Rowing event local audience and grand stand, alongside a local Polish commentator</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12 work-blurb">
      <div class="thumbnail">
        <img class="img-thumbnail img-fluid" src=https://peterohanlon.files.wordpress.com/2016/06/img_2894.jpg>
        <div class="caption">
          <h4>MAY 17 2016, 2016 WORLD ROWING CUP 2,</h4>
          <h5>LUCRENE, SWITZERLAND</h5>
          <h6>Peter provided the Live English Tower Commentary and Sports Presentation, for the World Rowing event local audience and grand stand, alongside a local German commentator</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12 work-blurb">
      <div class="thumbnail">
        <img class="img-thumbnail img-fluid" src=https://i2.wp.com/peterohanlon.files.wordpress.com/2016/06/img_2807.jpg?w=1026&h=&crop&ssl=1&zoom=2>
        <div class="caption">
          <h4>MAY 6 2016, EUROPEAN CHAMPIONSHIPS</h4>
          <h5>BRANDENBURG, GERMANY</h5>
          <h6>Peter provided Live Video Streaming Commentary for the World Rowing TV service broadcast by global sports channels such as Sky Sport, Fox Sports, CBC, SporTV, SportsNET amongst others</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12 work-blurb">
      <div class="thumbnail">
        <img class="img-thumbnail img-fluid" src=https://peterohanlon.files.wordpress.com/2017/02/img_3662.jpg>
        <div class="caption">
          <h4>Thumbnail label</h4>
          <h5>blah blah blah</h5>
        </div>
      </div>
    </div>
  </div>


  <footer>Twitter, Facebook and Other social links</footer>