<h1>Work</h1>
  <div class="row container-fluid">
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 work-blurb">
      <div class="thumbnail">
        <img src=https://peterohanlon.files.wordpress.com/2017/02/img_3662.jpg>
        <div class="caption">
          <h4>2017 WORLD ROWING U23 CHAMPIONSHIPS</h4>
          <h5>PLOVDIV, BULGARIA</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 work-blurb">
      <div class="thumbnail">
        <img src=https://peterohanlon.files.wordpress.com/2017/07/lucerne2.jpg?w=2000&h=1500&crop=1>
        <div class="caption">
          <h4>2017 WORLD ROWING CUP 3</h4>
          <h5>LUCERNE, SWITZERLAND</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 work-blurb">
      <div class="thumbnail">
        <img src=https://peterohanlon.files.wordpress.com/2017/02/img_3662.jpg>
        <div class="caption">
          <h4>Thumbnail label</h4>
          <h5>blah blah blah</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 work-blurb">
      <div class="thumbnail">
        <img src=https://peterohanlon.files.wordpress.com/2017/02/img_3662.jpg>
        <div class="caption">
          <h4>Thumbnail label</h4>
          <h5>blah blah blah</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 work-blurb">
      <div class="thumbnail">
        <img src=https://peterohanlon.files.wordpress.com/2017/02/img_3662.jpg>
        <div class="caption">
          <h4>Thumbnail label</h4>
          <h5>blah blah blah</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 work-blurb">
      <div class="thumbnail">
        <img src=https://peterohanlon.files.wordpress.com/2017/02/img_3662.jpg>
        <div class="caption">
          <h4>Thumbnail label</h4>
          <h5>blah blah blah</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 work-blurb">
      <div class="thumbnail">
        <img src=https://peterohanlon.files.wordpress.com/2017/02/img_3662.jpg>
        <div class="caption">
          <h4>Thumbnail label</h4>
          <h5>blah blah blah</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 work-blurb">
      <div class="thumbnail">
        <img src=https://peterohanlon.files.wordpress.com/2017/02/img_3662.jpg>
        <div class="caption">
          <h4>Thumbnail label</h4>
          <h5>blah blah blah</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 work-blurb">
      <div class="thumbnail">
        <img src=https://peterohanlon.files.wordpress.com/2017/02/img_3662.jpg>
        <div class="caption">
          <h4>Thumbnail label</h4>
          <h5>blah blah blah</h5>
        </div>
      </div>
    </div>
  </div>


  <footer>Twitter, Facebook and Other social links</footer>