<h1>Work</h1>
  <div class="row container-fluid">
    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
      <div class="thumbnail">
        <img src="https://www.placecage.com/200/200">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <p>blah blah blah</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
      <div class="thumbnail">
        <img src="https://www.placecage.com/200/200">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <p>blah blah blah</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
      <div class="thumbnail">
        <img src="https://www.placecage.com/200/200">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <p>blah blah blah</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
      <div class="thumbnail">
        <img src="https://www.placecage.com/200/200">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <p>blah blah blah</p>
        </div>
      </div>
    </div>
  </div>